body {
    width: 600px;
    margin: 0px auto;
}

.paragraph .paragraph__block {
    display: block;
}

.text-center {
    width: 100%;
    text-align: center;
    margin: 10px auto;
}

.bgr {
    background: blue;
}

.bgr-orange {
    width: 600px;
    background: orange;
    color: #fff;
    padding: 5px;
    text-align: center;
    margin: 10px auto;
}

.bgr-red {
    width: 600px;
    background: red;
    color: #fff;
    padding: 5px;
    text-align: center;
    margin: 10px auto;
}

.text {
    width: 600px;
    background: yellow;
    color: #fff;
    padding: 5px;
    text-align: center;
    margin: 10px auto;
}

.bgr-orange.animation {
    width: 60px;
    height: 60px;
    position: relative;
}
